{% extends 'frontend/base.html' %}

{% load static %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in cart %}
								{% with product=item.product%}
								<tr class="product-item table-body-row" data-productid="{{product.id}}">
									<td class="product-remove"><a id="delete-button" data-productid="{{product.id}}" href=""><i class="far fa-window-close delete-button"></i></a></td>
									<td class="product-image"><img src="{{product.image.url}}" alt=""></td>
									<td class="product-name">{{product.prod_name}}</td>
									<td class="product-price">${{product.price}}</td>
									<td class="product-quantity">
										<select id="select{{product.id}}" style="border: 1px solid #ddd; border-radius: 5px; width: 100px; padding: 10px; margin-bottom: 15px">
											<option selected style="display: none;">{{item.qty}}</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">4</option>
											<option value="">5</option>
										</select>
									</td>
									<td class="product-total">${{item.total_price}}</td>
									<td>							
										<a href="cart.html" id="update-button" data-productid="{{product.id}}" class="boxed-btn update-button">Update</a>
									</td>
								</tr>
								{% endwith %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td id="sub-total">${{cart.get_total_price}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>$45</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td id="final-total">${{cart.final_price}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<!-- <a href="cart.html" id="update-button" data-productid="{{product.id}}" class="boxed-btn update-button">Update Cart</a> -->
							<a href="checkout.html" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	<script>
		$(document).on('click', '.delete-button', function(e){
			e.preventDefault();
			var prod_id = $('#delete-button').data('productid');
			$.ajax({
				type: 'POST',
				url : '{% url "cart:cart_delete" %}',
				data: {
					productid : $('#delete-button').data('productid'),
					csrfmiddlewaretoken: "{{csrf_token}}",
					action: 'post',
				},
				success: function(json){
					$('.product-item[data-productid="'+ prod_id +'"]').remove();
					$('#cart-qty').text(json.qty);
					$('#sub-total').text('$' + json.subtotal);
					$('#final-total').text('$' + json.final_total);
				},
				error: function(xhr, errmsg, err){}
			});
		})
		
		$(document).on('click', '.update-button', function(e){
			e.preventDefault();
			var prod_id = $(this).data('productid');
			$.ajax({
				type: 'POST',
				url : '{% url "cart:cart_update" %}',
				data: {
					productid : $(this).data('productid'),
					productqty: $('#select' + prod_id + ' option:selected').text(),
					csrfmiddlewaretoken: "{{csrf_token}}",
					action: 'post',
				},
				success: function(json){
					$('.product-item[data-productid="'+ prod_id +'"] .product-total').text('$' + json.total_price);
					document.getElementById('cart-qty').innerHTML = json.qty
					document.getElementById('sub-total').innerHTML = json.subtotal
					document.getElementById('final-total').innerHTML = json.final_total
				},
				error: function(xhr, errmsg, err){}
			});
		})
	</script>
{% endblock %}