{% extends 'frontend/base.html'%}
{% load static %}


{% block title %}

{% endblock title%}

{% block content%}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
					  <div class="card single-accordion">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  Billing Address
							</button>
						  </h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="billing-address-form">
								<form id="checkoutForm" action="" method="post">
									{% csrf_token %}
									<p>{{checkout_form.phone_number}}</p>
									<p>{{checkout_form.post_code}}</p>
									<p>{{checkout_form.country}}</p>
									<p>{{checkout_form.state}}</p>
									<p>{{checkout_form.address}}</p>
									<p>{{checkout_form.request}}</p>
									<input type="submit" class="boxed-btn" value="Place Order"/>
								</form>
							</div>
						  </div>
						</div>
					  </div>
					  
					  <div class="card single-accordion">
						<div class="card-header" id="headingThree">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  Card Details
							</button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="card-details">
								<p>Your card details goes here.</p>
							</div>
						  </div>
						</div>
					  </div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							{% for item in cart %}
							<tr>
								<td>{{item.product}}</td>
								<td>&#8358;{{item.total_price}}</td>
							</tr>
							{% endfor %}
						</tbody>
						<tbody class="checkout-details">
							<tr>
								<td><strong>Subtotal</strong> </td>
								<td>&#8358;{{cart.get_total_price}}</td>
							</tr>
							<tr>
								<td><strong>Shipping</strong></td>
								<td>&#8358;45</td>
							</tr>
							<tr>
								<td><strong>Total</strong></td>
								<td>&#8358;{{cart.final_price}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check out section -->
{% if payment %}
<script>
	window.onload = function() {
        payWithPaystack();
    }

	const checkoutForm = document.querySelector('#checkoutForm')
	checkoutForm.addEventListener('submit', function(e) {
        e.preventDefault();
        payWithPaystack();
    });
	function payWithPaystack() {
		let currency = "NGN";
		let plan = "";
		let ref = "{{payment.ref}}";
		let amount = "{{payment.amount}}";
		let obj = {
			key: "{{ paystack_pub_key }}",
			email: "{{request.user.email }}",
			amount: "{{payment.amount_value}}",
			ref: ref,
			callback: function (response) {
				window.location.href = "{% url 'payment:verify_payment' ref %}";
			},
			onClose: function() {
            alert('Payment popup closed');
        }
		};
		if (Boolean(currency)) {
			obj.currency = currency.toUpperCase();
		}
		if (Boolean(plan)) {
        obj.plan = plan;  
    	}

		var handler = PaystackPop.setup(obj);
		handler.openIframe();
	}
</script>
{% endif %}

{% endblock content%}