{% extends 'frontend/base.html' %}

{% load static%}

{% block content %}
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>{{hot_deal.product.prod_name}}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
{% if hot_deal %}
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="{{hot_deal.product.image.url}}" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>{{hot_deal.product.prod_name}}</h3>
					<p class="single-product-pricing">
                        <span>Per Kg</span> 
                        <s>&#8358; {{hot_deal.product.price}}</s> 
                        
                        &#8358;{% if discount_price %}
                            {{ discount_price }}
                        {% endif %}
                    </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint dignissimos, rem commodi cum voluptatem quae reprehenderit repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos eum modi! Tempora, earum.</p>
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						<p>
							<strong>Categories: </strong>
							{% for category in hot_deal.product.category.all %}
							{{ category.cat_name }},
							{% empty %}
							<li>No categories found for this product.</li>
							{% endfor %}
						</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Other</span> Discounts</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			{% if discounts %}
				{% for discount in discounts %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					
					<div class="product-image">
						<a href="{% url 'shopapp:hot_deal_details' discount.product.slug %}"><img src="{{discount.product.image.url}}" alt=""></a>
					</div>
					<h3>{{discount.product.prod_name}}</h3>
					<p class="product-price"><span>Per Kg</span> {{discount.product.price}}$ </p>
					<a href="{% url 'shopapp:hot_deal_details' discount.product.slug %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
<!-- end more products -->

{% endblock %}