{% extends 'frontend/base.html' %}

{% block title %}
	News
{% endblock %}

{% load static %}

{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            {% if news %}
            {% for new in news%}
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg" style="background-image: url({{new.image.url}});"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">{{new.title}}</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> {{new.author}}</span>
                            <span class="date"><i class="fas fa-calendar"></i>{{new.created|date:'M d, Y'}}</span>
                        </p>
                        <p class="excerpt">{{new.article|truncatewords:30}}</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else%}
            <h2>No news uploaded</h2>
            {% endif%}
        </div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ul>
                                {% if news.has_previous %}
                                <li><a href="?page={{news.previous_page_number}}">Prev</a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                {% if page == news.number %}
							    <li><a class="active" href="?page={{page}}">{{page}} </a></li>
							    {% else %}
							    <li><a href="?page={{page}}">{{page}}</a></li>
							    {% endif %}
                                {% endfor %}
                                {% if news.has_next %}
                                <li><a href="?page{{news.next_page_number}}">Next</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}