{% extends 'frontend/base.html' %}

{% load static%}

{% block content %}
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>{{prod.prod_name}}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
{% if prod %}
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="{{prod.image.url}}" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>{{prod.prod_name}}</h3>
					<p class="single-product-pricing"><span>Per Kg</span> &#8358; {{prod.price}}</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint dignissimos, rem commodi cum voluptatem quae reprehenderit repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos eum modi! Tempora, earum.</p>
					<div class="single-product-form">
						<form action="index.html">
							<select id="select" style="border: 1px solid #ddd; border-radius: 5px; width: 100px; padding: 10px; margin-bottom: 15px">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</form>
						<a href="#" id="add-button" data-productid="{{prod.id}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						<p>
							<strong>Categories: </strong>
							{% for category in prod.category.all %}
							{{ category.cat_name }},
							{% empty %}
							<li>No categories found for this product.</li>
							{% endfor %}
						</p>
							
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Related</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			{% if related_products %}
				{% for related_product in related_products %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					
					<div class="product-image">
						<a href="{% url 'shopapp:product_detail' related_product.slug %}"><img src="{{related_product.image.url}}" alt=""></a>
					</div>
					<h3>{{related_product.prod_name}}</h3>
					<p class="product-price"><span>Per Kg</span> {{related_product.price}}$ </p>
					<a href="{% url 'shopapp:product_detail' related_product.slug %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
				{% endfor %}
			{% endif %}
			<!-- <div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="{% static 'frontend/assets/img/products/product-img-2.jpg' %}" alt=""></a>
					</div>
					<h3>Berry</h3>
					<p class="product-price"><span>Per Kg</span> 70$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="{% static 'frontend/assets/img/products/product-img-3.jpg' %}" alt=""></a>
					</div>
					<h3>Lemon</h3>
					<p class="product-price"><span>Per Kg</span> 35$ </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- end more products -->


<script>
	$(document).on('click', '#add-button', function(e){
		e.preventDefault();
		$.ajax({
			type: 'POST',
			url : '{% url "cart:cart_add" %}',
			data: {
				productid : $('#add-button').data('productid'),
				productqty: $('#select option:selected').text(),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: 'post',
			},
			success: function(json){
				document.getElementById('cart-qty').innerHTML = json.qty
			},
			error: function(xhr, errmsg, err){}
		});
	})

</script>

{% endblock %}